In [2]:
# Initiate an empty list
list1 = []
# OR
list1 = list()

# Initiate a list with elements
list2 = ['hello', 'hola', 'olá']

"""
Elements in list does NOT have to be the same type, but this is uncommon.
In this case, each list could represent the series of information about a person, 
but you will need to remember what information is stored at each index. ---> There is a better option for this purpose - dictionary.
"""
list3 = ["John", "male", 20, False]

In [3]:
# Accessing information stored in the list by position ("index")
# Note: in CS, first position is ALWAYS 0
print("First element in list2 : "+ list2[0])
print("Second element in list2 : "+ list2[1])

First element in list2 : hello
Second element in list2 : hola

In [4]:
# Insert a new element as a specific location, at index 1
list2.insert(1,'hallo')
list2[1]

'hallo'

In [5]:
list2.append('bye')
list2

['hello', 'hallo', 'hola', 'olá', 'bye']

In [6]:
# Remove an element from the list by specifying the element that you want to remove
list2.remove('hello')

In [7]:
# list2 after 'hello' is REMOVED
list2

['hallo', 'hola', 'olá', 'bye']

In [8]:
"""
Another way to remove an element: pop()
pop() allows you to identify the position you 
"""

list2.append("hello")

list2.pop()

list2

['hallo', 'hola', 'olá', 'bye']

In [9]:
"""
Lists could also be sorted. 
Method of sorting depends on how the comparable interface is implemented for the objects in the list.

In this case of list2, sort() works by sorting individual characters in the string according to the ASCII code.
"""
list2.sort()
list2

['bye', 'hallo', 'hola', 'olá']

In [10]:
"""
Since list is dynamic, meaning that the size of the list grow or shrink as we insert or remove elements,
we could call len() to find the size of the list at a given time. 
"""

# Since len() returns an int, in order to concatenate it to a string, we need to cast it. 
print("size of list1 = " + str(len(list1)))
print("size of list2 = " + str(len(list2)))

size of list1 = 0
size of list2 = 4

In [11]:
# Print items in list as a string, separated by a comma
",".join(list2)

'bye,hallo,hola,olá'

In [12]:
# You could also have a list of lists. For example:

lists = []
lists.append([1,2,3])
lists.append(['a','b','c'])

lists

[[1, 2, 3], ['a', 'b', 'c']]

In [13]:
# Similarly, you could index the over multi-dimensional lists

lists[1]

['a', 'b', 'c']

In [14]:
lists[1][0]

'a'

In [15]:
# Initialize an empty tuple
y = tuple()
y

# Create a new tuple of elements
x = (1,2,3)

In [16]:
# ERROR: canot add to a tuple
x.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
# This is OK because creating a new tuple with x and (4,5,6) added at the end
x + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [18]:
# x is NOT modified by the previous line
x

(1, 2, 3)

In [19]:
# Create a new tuple with x apearing twice
x * 2

(1, 2, 3, 1, 2, 3)

In [20]:
# Index on the elements in the tuple
x.index(3)

2

In [21]:
# shorthand for 
#  (a,b,c) = (1,2,3)

# This also assigns a = 1, b = 2, c = 3

a,b,c = 1,2,3

In [22]:
a

1

In [23]:
b

2

In [24]:
c

3

In [25]:
# Convert a tuple into a list
x = (1,2,3,4)
list(x)

[1, 2, 3, 4]

In [26]:
# Convert a list into a tuple
x = [1,2,3,4]
tuple(x)

(1, 2, 3, 4)

In [27]:
# Declare a new tuple, name "person"
person  = ('Jane','Doe', 21)

# "Pack"/associate each element of the tuple with a label. Note the order of labels.
first, last, age = person

In [28]:
first

'Jane'

In [29]:
last

'Doe'

In [30]:
age

21

In [31]:
# ERROR: x is a tuple is 4 values but ONLY trying to unpack 3 elements.
# Mismatch on the size of tuple
x = (1,2,3,4)

a,b,c = x

ValueError: too many values to unpack (expected 3)

In [32]:
# This is OK!
x = [1,2,3,4]
a,b,c,d = x

In [33]:
a

1

In [34]:
b

2

In [35]:
c

3

In [36]:
d

4

In [37]:
# Initialize an empty set
newSet = set()
newSet

set()

In [38]:
# A set with elements
ex1 = {1, 2, 2, 1, 1}

ex1

{1, 2}

In [39]:
ex2 = {j for j in range(10)}
ex2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
# 2 already exists in the ex2. What happen if we want to add 2 again?
  # Note: The implementation for set did NOT define append(), so we will use add().
    # add() will insert the new element in the correct position with the sorting of the set
ex2.add(2)
ex2.add(100)
ex2.add(50)
ex2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 50, 100}

In [41]:
# mutable objects can't go in a set
d_set = {[1,2,3]}

d_set

TypeError: unhashable type: 'list'

In [42]:
# Convert a list to a set
ages = [10, 5, 4, 5, 2, 1, 5]

set_of_ages = set(ages)

set_of_ages

{1, 2, 4, 5, 10}

In [43]:
# Convert a set to a list
list_of_ages = list(set_of_ages)

list_of_ages

[1, 2, 4, 5, 10]

In [44]:
# Order is irrelevant in set comparison since elements are sorted

{1,2,3} == {2,1,3}

True

In [45]:
# Initiate an empty dictionary
# Same as set, but with :
dict = {}

# Declare a dictionary with key/value pairs
dict2 = {'a': 5, 'b': 10, 'c': 100, 'd': 9.5}

In [46]:
# Accessing data in a dictionary with a key
dict2['b']

10

In [47]:
# Update value of an existing key
dict2['b'] = 50

dict2['b']

50

In [48]:
# What happen if we want to access the value for a non-existing key? (e.g. 'z')


# We might expect an ERROR because this key doesn't exist, so it doesn't have a value. 
# That is a correct assumption.
dict2['z']

KeyError: 'z'

In [49]:
# But if what if we do this, will this still return an ERROR?
dict2['z'] = 999

dict2['z']

999

In [50]:
# Values in the dictionary can be mix-typed
# Let's look at an example with dict{}, an empty dictionary initiated above.
# Fist, we will insert some key/value pairs into the program. 

dict["greeting"] = "hello message"
dict["alphabet"] = ['a', 'b', 'c', 'd', 'e']
dict["check-in"] = False
dict["phoneNumber"] = 8007782346

dict

{'greeting': 'hello message',
 'alphabet': ['a', 'b', 'c', 'd', 'e'],
 'check-in': False,
 'phoneNumber': 8007782346}

In [51]:
# IMPORTANT Note: key must be immutatble objects (something that cannot be changed)
# String is immutable, because you could not just delete a character in a string. A string is a string, the way it is.

# From above, we see that a list can be a value in the dictionary. 
# What happen when we try to make it a key?

# ERROR: unhashable type of list 

# Because we could modify the list by inserting new element, sorting elements, deleting elements, or other ways of modifying it, it CANNOT be a key

dict[['a','b', 'c']] = [False, True, False]

TypeError: unhashable type: 'list'

In [52]:
# But since tuple is immutatble, we could replace the list with a tuple
dict[('a','b', 'c')] = [False, True, False]

dict

{'greeting': 'hello message',
 'alphabet': ['a', 'b', 'c', 'd', 'e'],
 'check-in': False,
 'phoneNumber': 8007782346,
 ('a', 'b', 'c'): [False, True, False]}

In [53]:
# We could also retrieve all the keys
dict.keys()

dict_keys(['greeting', 'alphabet', 'check-in', 'phoneNumber', ('a', 'b', 'c')])

In [54]:
# Or all values
dict.values()

dict_values(['hello message', ['a', 'b', 'c', 'd', 'e'], False, 8007782346, [False, True, False]])

In [55]:
# Elements in a dictionary could also be returned as a pair.
dict.items()

dict_items([('greeting', 'hello message'), ('alphabet', ['a', 'b', 'c', 'd', 'e']), ('check-in', False), ('phoneNumber', 8007782346), (('a', 'b', 'c'), [False, True, False])])